<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ru.nettrash.sibliteandroid">

    <uses-feature
        android:name="android.hardware.fingerprint"
        android:required="false" />

    <uses-permission android:name="android.permission.USE_FINGERPRINT" />

    <application
        android:name=".SIBApplication"
        android:allowBackup="true"
        android:allowClearUserData="false"
        android:appCategory="social"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/applicationName"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".RootActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/titleActivityRoot"
            android:screenOrientation="portrait"
            android:theme="@style/FullscreenTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".InitializeActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/titleActivityInitialize"
            android:screenOrientation="portrait"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".SetPINActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/titleActivitySetPIN"
            android:screenOrientation="portrait"
            android:theme="@style/FullscreenTheme"
            android:windowSoftInputMode="stateVisible" />
        <activity
            android:name=".VerifyPINActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/titleActivityVerifyPIN"
            android:screenOrientation="portrait"
            android:theme="@style/FullscreenTheme"
            android:windowSoftInputMode="stateVisible" />
        <activity
            android:name=".BalanceActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/titleActivityBalance"
            android:screenOrientation="portrait"
            android:theme="@style/FullscreenTheme" />
    </application>

</manifest>